{{define "Type"}}
    {{- $typeName := index . 0 -}}
    {{- $disablePointer := index . 1 -}}

    {{- if eq $typeName "string" -}}
        {{- if not $disablePointer -}}*{{- end -}}string
    {{- else if eq $typeName "boolean" -}}
        {{- if not $disablePointer -}}*{{- end -}}bool
    {{- else if eq $typeName "integer" -}}
        {{- if not $disablePointer -}}*{{- end -}}int
    {{- else if eq $typeName "long" -}}
        {{- if not $disablePointer -}}*{{- end -}}int64
    {{- else if eq $typeName "timestamp" -}}
        {{- if not $disablePointer -}}*{{- end -}}time.Time
    {{- else if eq $typeName "binary" -}}
        io.Reader
    {{- else if eq $typeName "array" -}}
        interface{}
    {{- else if eq $typeName "object" -}}
        interface{}
    {{- else if eq $typeName "map" -}}
        *map[string]string
    {{- else if eq $typeName "any" -}}
        interface{}
    {{- else -}}
        *{{$typeName | camelCase}}Type
    {{- end -}}
{{end}}

{{define "PropertyType"}}
    {{- $property := index . 0 -}}
    {{- $disablePointer := index . 1 -}}

    {{- if eq $property.Type "object" -}}
        {{template "Type" passThrough $property.ExtraType $disablePointer}}
    {{- else if eq $property.Type "array" -}}
        []{{template "Type" passThrough $property.ExtraType $disablePointer}}
    {{- else if eq $property.Type "map" -}}
        *map[string]string 
    {{- else if eq $property.Type "any" -}}
        {{template "Type" passThrough $property.Type $disablePointer}}
    {{- else -}}
        {{template "Type" passThrough $property.Type $disablePointer}}
    {{- end -}}
{{end}}

{{define "RenderOperationInterface"}}
    {{$service := index . 0}}
    {{$operation := index . 1}}
    {{$servicePackage := index . 2}}

    {{$belongs := replace $service.Name "QingStor" "Service" -1}}
    {{$belongs := replace $belongs "Object" "Bucket" -1}}
    {{$opID := $operation.ID | camelCase}}

    {{$isBucket := eq $service.Name "Bucket"}}
    {{$isObject := eq $service.Name "Object"}}

    {{$hasQuery := gt (len $operation.Request.Query.Properties) 0}}
    {{$hasHeaders := gt (len $operation.Request.Headers.Properties) 0}}
    {{$hasElements := gt (len $operation.Request.Elements.Properties) 0}}
    {{$hasStringBody := eq $operation.Request.Body.Type "string"}}
    {{$hasBinaryBody := eq $operation.Request.Body.Type "binary"}}
    {{$hasInput := or $hasQuery $hasHeaders $hasElements $hasStringBody $hasBinaryBody}}
    {{- if $operation.Description -}}
        {{if eq $belongs "Bucket" -}}
            // {{replace $opID "Bucket" "" -1}} does {{$operation.Description}}
        {{else -}}
            // {{$opID}} does {{$operation.Description}}
        {{end -}}
    {{- end -}}
    {{- if eq $belongs "Bucket" -}}
        {{replace $opID "Bucket" "" -1 -}}(
            {{- if $isObject}}objectKey string,{{end -}}
            {{- if $hasInput}}input *{{$servicePackage}}.{{$opID}}Input{{end -}}
        ) (*{{$servicePackage}}.{{$opID}}Output, error)
    {{- else -}}
        {{$opID}}(
            {{- if $hasInput}}input *{{$servicePackage}}.{{$opID}}Input{{end -}}
        ) (*{{$servicePackage}}.{{$opID}}Output, error)
    {{- end -}}
{{- end }}

{{define "SubServiceInitParams"}}
    {{- $customizedType := index . 0 -}}
    {{- $disablePointer := index . 1 -}}

    {{- range $_, $property := $customizedType.Properties -}}
        {{$property.ID | camelCase | lowerFirstWord}}{{" " -}}
        {{template "PropertyType" passThrough $property $disablePointer}},
    {{- end -}}
{{end}}
